@{
  ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-md-3">
    <h2>JWT Security demo</h2>
    <ul>
      <li>One server issues JWT Tokens</li>
      <li>JWT secures this site</li>
      <li>JWT secures customer REST api</li>
    </ul>
  </div>
</div>
