.table-striped thead tr {
  background-color: #d8d7d7;
}

.table-striped tbody .highlight td {
  background-color: #b5b5b5;
}

.crudtoolbar {
  padding: 5px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: ghostwhite;
}
